# Build directory
/build

# Reference: https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# This is where we put the notebooks converted as markdown
# before running spellcheck on them
/notebooks-converted-to-markdown

# MacOS
.DS_Store
