TuningConfigSmallMNGemms(
    M=[@M],
    M_end=[@M_END],
    N=[@N],
    K=[@K],
    tile_m=[@TILE_M],
    tile_n=[@TILE_N],
    num_threads=[@NUM_THREADS],
    kernel_kind=GEMVAlgorithm.[@KERNEL_KIND],
    unroll_factor=[@UNROLL_FACTOR],
    tile_k=[@TILE_K],
    swapAB=[@SWAP_AB],
)
