*

!/conf/
!/conf/shell/
!/conf/shell/etc/
!/conf/shell/etc/skel/
!/conf/shell/var/
!/conf/shell/var/tmp/
!/conf/shell/var/tmp/snippets/
!/scripts/
!/scripts/usr/
!/scripts/usr/local/
!/scripts/usr/local/bin/

!/conf/shell/etc/skel/.profile
!/conf/shell/var/tmp/snippets/*.sh
!/scripts/usr/local/bin/*.sh

!/.gitignore
!/devcontainer.json
!/Dockerfile
!/README.md
